.footer{
    background-color: #f4f4f4;
    height: 7rem;
    width: 100%;
}
.container{
    display: flex;
    flex-direction: column;
    margin-left: 40%;
}
.social-media *{
    
    padding-right: 20px;
}