.title{
    background-color: #91ccff;
    width: 100%;
    height: 82px;
    top: 0;
    width: 100%;
    height: 80px;
    position: sticky;
   
}
.name{
    color: #000f65;
    font-size: 40px;
    font-family: system-ui;
    
    
}